<meta charset="UTF-8" />
<meta name="renderer" content="webkit" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0,uc-fitscreen=yes"/>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<title>{$seo_title|default='上海专科正骨'}</title>
<meta name="keywords" content="上海专科正骨" />
<meta name="description" content="上海专科正骨" />

<!-- miniMObile.css、js -->
<link rel="stylesheet" type="text/css" href="__HOME_STATIC__css/miniMobile.css"/>
<script type="text/javascript" src="__HOME_STATIC__js/zepto.min.js"></script>
<script type="text/javascript" src="__HOME_STATIC__js/miniMobile.js"></script>

<!-- fonticon -->
<link rel="stylesheet" type="text/css" href="__HOME_STATIC__plugins/fonticon/iconfont.css" />

<!-- swiper -->
<link rel="stylesheet" href="__HOME_STATIC__plugins/swiper/swiper.min.css">
<script src="__HOME_STATIC__plugins/swiper/swiper.min.js"></script>

<!-- animate.css -->
<link rel="stylesheet" type="text/css" href="__HOME_STATIC__css/animate.css" />