<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="email=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>欢迎页面</title>
	<link rel="stylesheet" href="../../../public/static/wap/css/style.css">
	<link rel="stylesheet" href="../../../public/static/wap/css/swiper.min.css">
	<script src="../../../public/static/wap/js/font.js"></script>
	<script src="../../../public/static/wap/js/swiper.min.js"></script>
</head>
<body>
	
	<div class="swiper-container swiper-container-vertical">
		<div class="swiper-wrapper">
			<div class="swiper-slide slide1">
				<img src="../../../public/static/wap/images/bg1.png" alt="">
				<span class="arrow"></span>
			</div>
			<div class="swiper-slide slide2">
				<img src="../../../public/static/wap/images/bg2.png" alt="">
				<span class="arrow"></span>
			</div>
			<div class="swiper-slide slide3">
				<img src="../../../public/static/wap/images/bg1.png" alt="">
				<div class="btn-start">制作我的明信片</div>
			</div>
			
		</div>
	</div>

<script src="../../../public/static/wap/js/jquery.1.10.1.min.js"></script>
<script>
    $(function(){
    	 $('body').height($(window).height())
    		var swiper = new Swiper('.swiper-container', {
  		    direction : 'vertical',
  		    initialSlide:0,
    		});
    })
</script>
</body>
</html>
