<!DOCTYPE html>
<html lang="en">
<head>
	{include file="/common/top" /}
</head>
<body>
<div class="wrap">
	<div class="header">
		<div class="tabs clearfix">
			<div class="tab-item active">新建明信片</div>
			<div class="tab-item">历史明信片</div>
		</div>
	</div>
	<div class="container">
		<img src="__HOME_STATIC__images/bg.jpg" alt="明星片">
	</div>
	<div class="footer">
		<a href="{:url('index/choose')}"><div class="start-btn">开始制作</div></a>
	</div>
</div>
<script src="__HOME_STATIC__js/jquery.1.10.1.min.js"></script>
<script>
    $(function(){
        document.getElementsByClassName('wrap')[0].style.height = window.outerHeight+'px';
    })
</script>
</body>
</html>
