<!DOCTYPE html>
<html lang="en">
<head>
	{include file="/common/top" /}
</head>
<body>
<div class="wrap">
	<div class="container edit-card clearfix">
		<div class="post-card">
			<img src="__HOME_STATIC__images/bg.jpg" alt="">
		</div>
		<div class="edit-info">
			<div class="text">
				<p>把你想说的话录进这张明信片吧</p>
			</div>
		</div>
	</div>
	<div class="footer ">
		<div class="btn-group">
			<div class="recording start_record">按住录音</div>
			<a href="{:url('index/write')}"><div class="next-btn">下一步</div></a>
		</div>
	</div>
</div>
<script src="__HOME_STATIC__js/jquery.1.10.1.min.js"></script>
<script>
    $(function(){
        $('.mode').not(':last').click(function(){
            if($(this).hasClass('active')){
                return
            }else{
                $(this).addClass('active').siblings().removeClass('active')
            }
        });


        var voice_id;
        //按下开始录音
        $('.start_record').on('touchstart', function(event){
            event.preventDefault();
            START = new Date().getTime();

            recordTimer = setTimeout(function(){
                wx.startRecord({
                    success: function(){
                        localStorage.rainAllowRecord = 'true';
                    },
                    cancel: function () {
                        alert('用户拒绝授权录音');
                    }
                });
            },300);
        });
        //松手结束录音
        $('.start_record').on('touchend', function(event){
            event.preventDefault();
            END = new Date().getTime();

            if((END - START) < 300){
                END = 0;
                START = 0;
                //小于300ms，不录音
                clearTimeout(recordTimer);
            }else{
                wx.stopRecord({
                    success: function (res) {
                        voice_id = res.localId;
                        uploadVoice();
                    },
                    fail: function (res) {
                        alert(JSON.stringify(res));
                    }
                });
            }
        });

        //上传录音
        function uploadVoice(){
            //调用微信的上传录音接口把本地录音先上传到微信的服务器
            //不过，微信只保留3天，而我们需要长期保存，我们需要把资源从微信服务器下载到自己的服务器
            wx.uploadVoice({
                localId: voice_id, // 需要上传的音频的本地ID，由stopRecord接口获得
                isShowProgressTips: 1, // 默认为1，显示进度提示
                success: function (res) {
                    //把录音在微信服务器上的id（res.serverId）发送到自己的服务器供下载。
                    $.ajax({
                        url: "{:url('index/uploadRecode')}",
                        type: 'post',
                        data: res,
                        dataType: "json",
                        success: function (data) {
//                            alert('文件已经保存到七牛的服务器');//这回，我使用七牛存储
                            if(data.code == 1) {
                                alert('录音上传成功');
                                console.log(data.data);
                            }
                        },
                        error: function (xhr, errorType, error) {
                            console.log(error);
                        }
                    });
                }
            });
        }

        //注册微信播放录音结束事件【一定要放在wx.ready函数内】
        wx.onVoicePlayEnd({
            success: function (res) {
                stopWave();
            }
        });
    })
</script>
</body>
</html>
