<!DOCTYPE html>
<html lang="zh-CN">
<head>
	{include file="/common/top" /}
</head>

<body class="fadeIn animated" style="padding-bottom: 1.2rem">
{include file="/common/header" /}
{include file="/common/left" /}
<div class="t-c f32 p6 color4 bg-color7">
	{if isset($info)}
	<h2 class="color2 f46">{$info.title}</h2>
	<p class="mt2">发表日期：{$info.create_at}</p>
	<div class="detail-content t-l mt5">{$info.content|htmlspecialchars_decode}</div>
	{/if}
</div>
<style>
	.demo-nav {
		line-height: 1.8em;
	}

	.demo-nav a {
		display: block;
		width: 100%;
		height: 100%;
	}
</style>
<!-- 底部导航 -->
{include file="/common/footer" /}
</body>
</html>