<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		{include file="/common/top" /}
		<script src="__HOME_STATIC__plugins/iscroll-probe.js"></script>
		<style>
			#scrollbox {
				position: fixed;
				left: 0;
				bottom: 0;
				top: 0.8rem;
				overflow: hidden;
				width: 100%;padding: .2rem;
				box-sizing: border-box;

			}

			.refresh,
			.loading {
				display: none;
			}
			ul {
				border-top: 1px solid #F1F1F1;
				line-height: 1.4em;
			}

			.item {
				width: 10.5rem;
				border-bottom: 1px solid #F1F1F1;
			}

			.mr2 {
				margin-right: 0.6rem;
			}
		</style>
	</head>

	<body class="fadeIn animated" style="padding-bottom: 1.2rem">
	{include file="/common/header" /}
	{include file="/common/left" /}
	<div id="scrollbox" class="f36 color3 bg-color7 t-c">
		<div class="boxs o-h clearfix">
			<div class="refresh p1 t-c">
				<img src="__HOME_STATIC__img/timg.gif" class="w6" />
			</div>
			<ul id="iscroll" class="article-list"></ul>
			<div class="loading t-c p1">
				<img src="__HOME_STATIC__img/timg.gif" class="w6" />
			</div>
		</div>
	</div>
	<script type="text/javascript">
        $(function() {
            var isPulled = false; //控制ajax的开关变量
            var page = 1;
            var buttonHeight = $(".loading").height();
            myScroll = new IScroll('#scrollbox', {
                probeType: 1,
                tap: true,
                click: false,
                mouseWheel: true,
                scrollbars: true,
                fadeScrollbars: true,
                interactiveScrollbars: false,
                keyBindings: false,
                deceleration: 0.0002
            });

            //监听方向
            myScroll.on('scroll', function() {
                if(this.y >= 60) {
                    $(".refresh").show();
                    myScroll.refresh();
                    isPulled = true;
                    page = 1;
                }
                if(this.maxScrollY - this.y >= 60) {
                    $(".loading").show();
                    myScroll.refresh();
                    isPulled = true;
                    page++;
                }
            });
            //松手触发ajax
            myScroll.on('scrollEnd', function() {
                if(isPulled) {
                    isPulled = false;
                    getDate();
                }
            });
            //ajax
            function getDate() {
                $.ajax({
                    url: "{:url('wap/index/getAjaxMessage')}",
                    type: 'get',
                    data: {page:page},
                    dataType: "json",
                    success: function(data) {
                        $(".loading,.refresh").hide();
                        if(page == 1) {
                            $("#iscroll").html("");
                        }
                        var l = '';
                        for(i = 0; i < data.data.length; i++) {
                            l += '<li class="h14">';
                            l += '    <div class="item w75 fl">';
                            l += '    <div class="fl w14 p2">';
                            l += '    <img src="'+data.data[i].headimgurl+'" class="w10 radius-o" />';
                            l += '    </div>';
                            l += '   <div class="fl w61 t-l pt2 color4">';
                            l += '    <div class="f36 clearfix">';
                            l += '    <p class="fr f28 mr2 t-r">'+data.data[i].create_at+'</p>';
                            l += '<p class="fl  color3">'+data.data[i].nickname+'</p>';
                            l += '</div>';
                            l += '<p class="f28" style="word-wrap: break-word;padding-right: 5px">'+data.data[i].message_content+'</p>';
                            l += '</div>';
                            l += '</div>';
                            l += '</li>';
                        }
                        $("#iscroll").append(l);
                        myScroll.refresh();
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        console.log(XMLHttpRequest.status + "  " + XMLHttpRequest.readyState + "" + errorThrown);
                    }
                });
            }
            getDate();
            //阻止浏览器默认
            document.addEventListener('touchmove', function(e) {
                e.preventDefault();
            }, false);
        })
	</script>
	<!-- 底部导航 -->
	{include file="/common/footer" /}
	</body>
</html>