<!DOCTYPE html>
<html lang="zh-CN">
<head>
	{include file="/common/top" /}
	<link rel="stylesheet" href="__HOME_STATIC__plugins/layui/css/layui.css">
	<script src="__HOME_STATIC__plugins/layer_mobile/layer.js"></script>
</head>

<body class="pb12 fadeIn animated" style="padding-bottom: 1.2rem">
{include file="/common/header" /}
{include file="/common/left" /}
<div class="p3 f30 f30 w75">
	<form onsubmit="return false;">
		<div class="pt2 pb2">
			姓名：
			<input type="text" class="w59  form-control" name="nickname" value="{$user_info.nickname|default=''}" placeholder="请输入姓名" />
		</div>
		<div class="mt4 mb4">
			性别：
			<label class="mr3"><input type="radio" class="check" name="sex" value="0" {if $user_info.sex == 0}checked{/if} />保密</label>
			<label class="mr3"><input type="radio" class="check" name="sex" value="1" {if $user_info.sex == 1}checked{/if}/>男</label>
			<label class="mr3"><input type="radio" class="check" name="sex" value="2" {if $user_info.sex == 2}checked{/if}/>女</label>
		</div>
		<div class="pt2 pb2">
			头像：
			<img class="layui-upload-img" src="{$user_info.headimgurl}" id="show_img" width="100" height="100">
			<p id="demoText"></p>
		</div>
		<div class="pt2 pb2">
			选择：
			<button type="button" class="layui-btn bat" style="background-color:#1c84c6;border: #1c84c6" id="upload_img">上传图片</button>
		</div>



		<div class="t-c mt5">
			<input type="submit" class="btn f30 radius10 p2 w50 sub_message" style="background-color:#1c84c6;border: #1c84c6" value="提交表单" />
		</div>
	</form>
</div>
<script src="__HOME_STATIC__js/jquery-2.1.4.min.js"></script>
<script src="__HOME_STATIC__plugins/layui/layui.js"></script>
<script type="text/javascript">
    layui.use('upload', function() {
        var $ = layui.jquery
            , upload = layui.upload;

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#upload_img'
            , url: "{:url('user/ajaxUploadImg')}"
			, size: 20000
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#show_img').attr('src', result); //图片链接（base64）
                });
            }
            , done: function (res) {
                //如果上传失败
                if (res.code > 0) {
                    return layer.msg('上传失败');
                }
                //上传成功
            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });
    });

    $('.sub_message').click(function() {
        var appoint_user = $('input[name=appoint_user]').val();
        var appoint_phone = $('input[name=appoint_phone]').val();
        var appoint_time = $('input[name=appoint_time]').val();
        var appoint_requite = $('textarea[name=appoint_requite]').val();
        if(!appoint_user) {
            //提示层msg
            layer.open({
                content: '请输入姓名',
                skin: 'msg',
                time: 2 //2秒后自动关闭
            });
            $('input[name=appoint_user]').focus();
            return false;
        }
        if(!appoint_phone) {
            //提示层msg
            layer.open({
                content: '请输入正确的手机号',
                skin: 'msg',
                time: 2 //2秒后自动关闭
            });
            $('input[name=appoint_phone]').focus();
            return false;
        }
        if(!appoint_time) {
            //提示层msg
            layer.open({
                content: '请选择预约时间',
                skin: 'msg',
                time: 2 //2秒后自动关闭
            });
            $('input[name=appoint_time]').focus();
            return false;
        }
        if(!appoint_requite) {
            //提示层msg
            layer.open({
                content: '请输入要求内容',
                skin: 'msg',
                time: 2 //2秒后自动关闭
            });
            $('input[name=appoint_requite]').focus();
            return false;
        }
        $.post("{:url('user/appoint')}", {appoint_user:appoint_user,appoint_phone:appoint_phone,appoint_time:appoint_time,appoint_requite:appoint_requite}, function (data) {
            if(data.code == 1) {
                layer.open({
                    content: '预约成功',
                    skin: 'msg',
                    time: 2, //2秒后自动关闭
                    end:function() {
                        window.location.href="{:url('index/message')}";
                    }
                });
            } else {
                layer.open({
                    content: data.msg,
                    skin: 'msg',
                    time: 2 //2秒后自动关闭
                });
            }
        });
    });
</script>
</body>
</html>