<!DOCTYPE html>
<html lang="zh-CN">
<head>
	{include file="/common/top" /}
	<script src="__HOME_STATIC__plugins/layer_mobile/layer.js"></script>
</head>

<body class="pb12 fadeIn animated" style="padding-bottom: 1.2rem">
{include file="/common/header" /}
{include file="/common/left" /}
<div class="p3 f30 f30 w75">
	<form onsubmit="return false;">
		<div class="pt2 pb2">
			姓名：
			<input type="text" class="w59  form-control" name="appoint_user" placeholder="请输入姓名" />
		</div>
		<div class="pt2 pb2">
			号码：
			<input type="number" class="w59  form-control" name="appoint_phone" placeholder="请输入手机号码" />
		</div>
		<div class="pt2 pb2">
			时间：
			<input type="text" id="demo_datetime" class="w59  form-control" name="appoint_time" readonly placeholder="请选择预约时间" />
		</div>
		<div class="mt4 mb4">
			要求：
			<textarea class="w59 h20 form-control" name="appoint_requite" placeholder="请输入预约要求"></textarea>
		</div>
		<div class="t-c mt5">
			<input type="submit" class="btn f30 radius10 p2 w50 sub_message" style="background-color:#1c84c6;border: #1c84c6" value="提交表单" />
		</div>
	</form>
</div>
<script src="__HOME_STATIC__js/jquery-2.1.4.min.js"></script>
<link rel="stylesheet" href="__HOME_STATIC__plugins/mobiscroll/mobiscroll.custom.min.css">
<script src="__HOME_STATIC__plugins/mobiscroll/mobiscroll.custom.min.js"></script>
<script type="text/javascript">
    var theme = "ios";
    var mode = "scroller";
    var display = "bottom";
    var lang="zh";

    // Date & Time demo initialization
    $('#demo_datetime').mobiscroll().datetime({
        theme: theme,
        mode: mode,
        display: display,
        lang: lang,
        dateFormat:"yyyy-mm-dd",
        minDate: new Date(2000,3,10,9,22),
        maxDate: new Date(2030,7,30,15,44),
        stepMinute: 1
    });

    $('.sub_message').click(function() {
        var appoint_user = $('input[name=appoint_user]').val();
        var appoint_phone = $('input[name=appoint_phone]').val();
        var appoint_time = $('input[name=appoint_time]').val();
        var appoint_requite = $('textarea[name=appoint_requite]').val();
        if(!appoint_user) {
            //提示层msg
            layer.open({
                content: '请输入姓名',
                skin: 'msg',
                time: 2 //2秒后自动关闭
            });
            $('input[name=appoint_user]').focus();
            return false;
        }
        if(!appoint_phone) {
            //提示层msg
            layer.open({
                content: '请输入正确的手机号',
                skin: 'msg',
                time: 2 //2秒后自动关闭
            });
            $('input[name=appoint_phone]').focus();
            return false;
        }
        if(!appoint_time) {
            //提示层msg
            layer.open({
                content: '请选择预约时间',
                skin: 'msg',
                time: 2 //2秒后自动关闭
            });
            $('input[name=appoint_time]').focus();
            return false;
        }
        if(!appoint_requite) {
            //提示层msg
            layer.open({
                content: '请输入要求内容',
                skin: 'msg',
                time: 2 //2秒后自动关闭
            });
            $('input[name=appoint_requite]').focus();
            return false;
        }
        $.post("{:url('user/appoint')}", {appoint_user:appoint_user,appoint_phone:appoint_phone,appoint_time:appoint_time,appoint_requite:appoint_requite}, function (data) {
            if(data.code == 1) {
                layer.open({
                    content: '预约成功',
                    skin: 'msg',
                    time: 2, //2秒后自动关闭
                    end:function() {
                        window.location.href="{:url('index/message')}";
                    }
                });
            } else {
                layer.open({
                    content: data.msg,
                    skin: 'msg',
                    time: 2 //2秒后自动关闭
                });
            }
        });
    });
</script>
</body>
</html>