<!DOCTYPE html>
<html lang="zh-CN">
<head>
	{include file="/common/top" /}
	<script src="__HOME_STATIC__plugins/layer_mobile/layer.js"></script>
</head>

<body class="pb12 fadeIn animated" style="padding-bottom: 1.2rem">
{include file="/common/header" /}
{include file="/common/left" /}
<div class="p3 f30 f30 w75">
	<form onsubmit="return false;">
		<div class="pt2 pb2">
			姓名：
			<input type="text" class="w59  form-control" name="message_name" placeholder="输入姓名" />
		</div>
		<div class="pt2 pb2">
			号码：
			<input type="number" class="w59  form-control" name="message_phone" placeholder="输入手机号码" />
		</div>
		<div class="pt2 pb2">
			邮箱：
			<input type="email" class="w59  form-control" name="message_email" placeholder="输入邮箱" />
		</div>
		<div class="mt4 mb4">
			内容：
			<textarea class="w59 h20 form-control" name="message_content" placeholder="备注内容"></textarea>
		</div>
		<div class="t-c mt5">
			<input type="submit" class="btn f30 radius10 p2 w50 sub_message" style="background-color:#1c84c6;border: #1c84c6" value="提交表单" />
		</div>
	</form>
</div>
<script type="text/javascript">
	$('.sub_message').click(function() {
	    var message_name = $('input[name=message_name]').val();
	    var message_phone = $('input[name=message_phone]').val();
	    var message_email = $('input[name=message_email]').val();
	    var message_content = $('textarea[name=message_content]').val();
	    if(!message_name) {
            //提示层msg
            layer.open({
                content: '请输入姓名',
                skin: 'msg',
                time: 2 //2秒后自动关闭
            });
            $('input[name=message_name]').focus();
			return false;
		}
        if(!message_phone) {
            //提示层msg
            layer.open({
                content: '请输入正确的手机号',
                skin: 'msg',
                time: 2 //2秒后自动关闭
            });
            $('input[name=message_phone]').focus();
            return false;
        }
        if(!message_email) {
            //提示层msg
            layer.open({
                content: '请输入正确的邮箱',
                skin: 'msg',
                time: 2 //2秒后自动关闭
            });
            $('input[name=message_email]').focus();
            return false;
        }
        if(!message_content) {
            //提示层msg
            layer.open({
                content: '请输入留言内容',
                skin: 'msg',
                time: 2 //2秒后自动关闭
            });
            $('input[name=message_content]').focus();
            return false;
        }
        $.post("{:url('user/message')}", {message_name:message_name,message_phone:message_phone,message_email:message_email,message_content:message_content}, function (data) {
			if(data.code == 1) {
                layer.open({
                    content: '添加成功',
                    skin: 'msg',
                    time: 2, //2秒后自动关闭
					end:function() {
						window.location.href="{:url('index/message')}";
					}
                });
			} else {
                layer.open({
                    content: data.msg,
                    skin: 'msg',
                    time: 2 //2秒后自动关闭
                });
			}
        });
	});
</script>
</body>
</html>